.sign-in {
  width: 380px;
  display: flex;
  flex-direction: column;

  .title {
    margin: 10px 0;
    font-weight: bold;
  }

  .subtitle {
    color: grey;
    font-weight: bold;
  }

  .buttons {
    display: flex;
    justify-content: space-between;
  }
}